* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
.body {
  background: #fff;
  font-family: "Barlow", sans-serif;
}

.Header {
  display: flex;
  justify-content: space-between;
}

.logo {
  margin-left: 24px;
  margin-top: 27px;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
.Button1 {
  width: 150px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #e8eff2;
  margin-top: 25px;
  margin-right: 24.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Pre-order1 {
  color: #162542;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 162.5% */
  text-transform: uppercase;
}
.Button1:hover {
  border-radius: 8px;
  background: #162542;
}
.Button1:hover > p {
  color: #fff;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 162.5% */
  text-transform: uppercase;
}

.Info {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-left: 24px;
}
.Flex {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.Starter {
  color: #162542;
  font-family: Barlow;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: 48px; /* 100% */
  text-transform: uppercase;
  width: 327px;
  margin-top: 65px;
}
.Txt1 {
  color: #7b8bad;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  width: 327px;
}
.Info2 {
  display: flex;
  gap: 32px;
  align-items: center;
}
.Button2 {
  width: 150px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #f16718;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Pre-order2 {
  color: #fff;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 162.5% */
  text-transform: uppercase;
}
.Button2:hover {
  border-radius: 8px;
  background: #ff9b62;
}
.Release {
  color: #7b8bad;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 162.5% */
  text-transform: uppercase;
  display: flex;
}
.Img1 {
  border-radius: 7% 0% 0% 7%;
  align-self: flex-end;
  width: 96%;
  flex-shrink: 0;
  margin-top: 10px;
}

.Image-Container {
  display: flex;
  gap: 19px;
  margin-top: 40px;
}

.Img2 {
  opacity: 0.7486;
  mix-blend-mode: multiply;
  flex-shrink: 0;
  width: 144px;
  height: 226px;
  flex-shrink: 0;
  border-radius: 0px 30px 30px 0px;
}
.Bg {
  border-radius: 0px 30px 30px 0px;
  background: #f16718;
  mix-blend-mode: multiply;
  width: 144px;
  height: 226px;
  margin-left: -25px;
}
.Img3 {
  flex-shrink: 0;
  width: 220px;
  height: 226px;
  border-radius: 20px;
  margin-right: 25%;
}

.Info3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 60px;
}
.Starter2 {
  color: #162542;
  text-align: center;
  font-family: Barlow;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: 36px; /* 112.5% */
  text-transform: uppercase;
  width: 255px;
}
.Txt2 {
  color: #7b8bad;
  text-align: center;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  width: 327px;
}

.Footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Svg1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 111px;
}
.Compatible {
  margin-bottom: 24px;
}
.Svg1-Header {
  color: #162542;
  text-align: center;
  font-family: Barlow;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 28px; /* 116.667% */
  text-transform: uppercase;
}
.Svg1-Txt {
  color: #7b8bad;
  text-align: center;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  width: 327px;
}

.Svg2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.Bluetooth {
  margin-bottom: 24px;
  margin-top: 64px;
}
.Svg2-Header {
  text-align: center;
  color: #162542;
  font-family: Barlow;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 28px; /* 116.667% */
  text-transform: uppercase;
  width: 310px;
}
.Svg2-Txt {
  color: #7b8bad;
  text-align: center;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  width: 327px;
}
.Svg3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.Battery {
  margin-bottom: 24px;
  margin-top: 64px;
}
.Svg3-Header {
  color: #162542;
  text-align: center;
  font-family: Barlow;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 28px; /* 116.667% */
  text-transform: uppercase;
  width: 327px;
}
.Svg3-Txt {
  color: #7b8bad;
  text-align: center;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  width: 327px;
}
.Svg4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.Light {
  margin-bottom: 24px;
  margin-top: 64px;
}
.Svg4-Header {
  color: #162542;
  text-align: center;
  font-family: Barlow;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 28px; /* 116.667% */
  text-transform: uppercase;
  width: 327px;
}
.Svg4-Txt {
  color: #7b8bad;
  text-align: center;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  width: 327px;
}
.End {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 96px;
  margin-bottom: 50px;
  gap: 10px;
}
.T2021 {
  color: #7b8bad;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 162.5% */
}
.Rights {
  color: #7b8bad;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}
.Tick {
  color: #7b8bad;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}
.DesktopImg1{
  display: none;
}
.DesktopImg2{
  display: none;
}
.DesktopImg3{
  display: none;
}

.Keyboard-Tablet{
  display: none;
}
.Pattern{
  display: none;
}


@media (min-width: 768px) {
  .logo {
    margin-left: 39px;
    margin-top: 49px;
  }

  .Button1 {
    width: 175px;
    height: 58px;
    margin-top: 39px;
    margin-right: 40px;
  }
  .Pre-order1 {
    color: #162542;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 162.5% */
    text-transform: uppercase;
  }
  .Info {
    display: flex;
    flex-direction: row;
    gap: 32px;
    margin-left: 24px;
  }

  .Starter {
    color: #162542;
    font-family: Barlow;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 48px; /* 100% */
    text-transform: uppercase;
    margin-top: 131px;
  }
  .Txt1 {
    color: #7b8bad;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 162.5% */
    width: 339px;
  }

  .Info2 {
    display: flex;
    gap: 37px;
    align-items: center;
  }
  .Button2 {
    width: 175px;
    height: 58px;
    flex-shrink: 0;
  }

  .Img1 {
    display: none;
    
  }
  .Keyboard-Tablet{
    display: block;
    width: 410px;
    height: 425px;
    border-radius: 20px 0px 0px 20px;
    margin-top: 62px;
    align-self: flex-end;
    margin-left: 15px;
  }
  
  .Image-Container {
    display: flex;
    gap: 25px;
    margin-top: 30px;
    justify-content: center;
  }

  .Img2 {
    opacity: 0.7486;
    mix-blend-mode: multiply;
    width: 214px;
    height: 320px;
    flex-shrink: 0;
    border-radius: 20px;
  }
  .Bg {
    border-radius: 20px;
    background: #f16718;
    mix-blend-mode: multiply;
    width: 214px;
    height: 320px;
    flex-shrink: 0;
    margin-left: -30px;
  }
  .Img3 {
    width: 445px;
    height: 320px;
    flex-shrink: 0;
    border-radius: 20px;
    margin-right: -39px;
  }
  .Info3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 36px;
    margin-top: 60px;
    margin-left: 39px;
  }
  .Starter2 {
    color: #162542;
    font-family: Barlow;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 36px; /* 112.5% */
    text-transform: uppercase;
    text-align: left;
    width: 255px;
  }
  .Txt2 {
    color: #7b8bad;
    text-align: left;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 162.5% */
    width: 398px;
  }

  .Footer {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    margin-left: -39px;
    gap: 50px;
  }
  .Svg1 {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    gap: 24px;
    margin-top: 142px;
  }
  .Compatible {
    margin-bottom: 24px;
    width: 65px;
height: 65px;
flex-shrink: 0;
  }
  .Svg1-Header {
    text-align: left;
    width: 281px;
  }
  .Svg1-Txt {
    text-align: left;
    width: 281px;
  }

  .Svg2 {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    gap: 24px;
  }
  .Bluetooth {
    margin-bottom: 24px;
    margin-top: 142px;
    width: 65px;
height: 65px;
flex-shrink: 0;
  }
  .Svg2-Header {
    text-align: left;
    width: 255px;
  }
  .Svg2-Txt {
    width: 281px;
    text-align: left;
   
  }
  .Svg3 {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    gap: 24px;
  }
  .Battery {
    margin-bottom: 24px;
    margin-top: 72px;
    width: 65px;
height: 65px;
flex-shrink: 0;
  }
  .Svg3-Header {
    text-align: left;
    width: 281px;
  }
  .Svg3-Txt {
    text-align: left;
    width: 281px;
  }
  .Svg4 {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    gap: 24px;
   

  }
  .Light {
    margin-bottom: 24px;
    margin-top: 72px;
  }
  .Svg4-Header {
  text-align: left;
  width: 281px;
  }
  .Svg4-Txt {
  text-align:left;
  width: 281px;
  }
  .DesktopImg1{
    display: none;
  }
  .DesktopImg2{
    display: none;
  }
  .DesktopImg3{
    display: none;
  }
}
@media (min-width:1440px){
  
  .logo {
    margin-left: 165px;
    margin-top: 64px;
  }

  .Button1 {
    margin-right: 165px;
    margin-top: 64px;
  }
  
  .Info {
    display: flex;
    flex-direction: row;
    gap: 32px;
    margin-left: 165px;
  }

  .Starter {
    color: #162542;
font-family: Barlow;
font-size: 56px;
font-style: normal;
font-weight: 900;
line-height: 56px; /* 100% */
text-transform: uppercase;
    margin-top: 152px;
  }
  .Txt1 {
    color: #7B8BAD;
font-family: Barlow;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 26px; /* 144.444% */
width: 445px;
  }
  .Pattern1{
    background-image: url(assets/shared/pattern-square.svg);
    width: 255px;
height: 240px;
display: block;
margin-top: 83px;
  }
  

  .Info2 {
    display: flex;
    gap: 37px;
    align-items: center;
  }
  .Button2 {
    width: 175px;
    height: 58px;
    flex-shrink: 0;
  }

  .Img1 {
    display: none;
  }
  .Img2{
    display: none;
  }
  .Img3{
    display: none;
  }
  .Keyboard-Tablet{
    display:none;
  }
  .Bg{
    display: block;
    width: 255px;
height: 480px;
flex-shrink: 0;
border-radius: 20px;
background: #F16718;
mix-blend-mode: multiply;
margin-left: -38%;

  }
  .DesktopImg2{
    display: block;
    width: 255px;
    height: 480px;
    flex-shrink: 0;
    border-radius: 20px;
    opacity: 0.7486;
  mix-blend-mode: multiply;
   
  }

  .DesktopImg1{
    display: block;
    width: 540px;
height: 480px;
flex-shrink: 0;
border-radius: 20px;
margin-top: 83px;
margin-left: 125px;
  }
  .DesktopImg3{
    display: block;
    width: 445px;
height: 480px;
flex-shrink: 0;
border-radius: 20px;
  }
  .Image-Container {
    display: flex;
    gap: 30px;
    margin-top: 50px;
    margin-left: 125px;
    
  }
  .Pattern2{
    background-image: url(assets/shared/pattern-square.svg);
    width: 255px;
    height: 240px;
    position: absolute;
    margin-left: -115%;
    margin-top: 240px;
   
  }
  .Info3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 36px;
    margin-right: 165px;
    margin-top: -350px;
  }

  .Txt2 {
    width: 255px;
  }



  .Footer {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    margin-top: 168px;
    gap: 30px;
    margin-left: 10px;
  }
  
  .Svg1-Header {
    width: 255px;

  }
  .Svg1-Txt {
  
    width: 255px;
  
  }


  .Bluetooth {
   
    margin-bottom: 24px;
  }
  .Svg2-Header {
    text-align: left;
    width: 255px;
  }
  .Svg2-Txt {
    width: 255px;
    text-align: left;
   
  }
  
  .Battery {
    margin-bottom: 24px;
    margin-top: 142px;
  }
  .Svg3-Header {
    text-align: left;
    width: 255px;
  }
  .Svg3-Txt {
    text-align: left;
    width: 255px;
  }
  .Svg4 {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    gap: 24px;
   

  }
  .Light {
    margin-bottom: 24px;
    margin-top: 142px;
  }
  .Svg4-Header {
  text-align: left;
  width: 255px;
  }
  .Svg4-Txt {
  text-align:left;
  width: 255px;
  }
  
  }

